.header {
  border: solid #00A1FF;
  border-radius: 25px;
  margin: auto;
  text-align: justify;
  padding: 50px;
  font-size: 50px;
  background-color: #1591EA;
  color: white
}

.input-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  border: solid gray;
  padding: 50px 50px 50px 50px;
  margin: auto;
  border-radius: 25px;
  background-color: lightgrey;
}

.container-title {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 30px 50px 50px 30px;
  font-size: 40px;
  color:#00A1FF;
  border-radius: 25px;
}

.form {
  display: flex;
  justify-content: center;
   align-items: center;
  padding: 100px 100px 100px 350px;
  
}

.input-title {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  padding: 10px 10px 10px 10px;

}

.input {
  padding: 10px 15px 10px 10px;
  border-radius: 20px;
}

.button-container {
  display: flex;
  align-content: center;
  margin:auto;
  padding: 0px 0px 0px 10px

}

.add-class {
  color: white;
  padding: 5px 10px 5px 10px;
  background-color: #00A1FF;
  border: none;
  text-align: center;
  font-size: 30px;
  border-radius: 15px;

}

.course-container {
  border: solid #00A1FF;
  margin: 2px;
  padding: 20px;
  border-radius: 10px;
  background-color: #1591EA;
}

.course-title{
  border: solid white;
  padding: 20px 10px 10px 10px;
  font-size: 30px;
  border-radius: 20px;
  margin: 8px;
  color: white;
}

.course-date{
  border: solid #1591EA;
  padding: 5px 10px 5px 0px;
  font-size: 20px;
  margin: 2px;
  color: white;
}
